 {
    margin: 0;
    padding: 0;

 }

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)50%), url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
 }

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;  
 }

.icon{
        width: 200px;
        float: left;
        height: 70px;
 }

 .logo{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 20px;
 }

 .menu{
    width: 400px;
    float:left;
    height: 70px;
 }

 ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;

 }

 ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
 }

 ul li a{
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s eas;
 }

 ul li a:hover{
    color:rgb(200, 254, 252)
 }

 .search{
    width: 200px;
    float: left;
    margin-left: 270px;
    height: 70px;
 }

 .srch{
    font_family: 'Times New Roman', Times, serif;
    width:200px
    height:40px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 13px;
    color:aliceblue;
    font-size: 20px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;


 }

 .btn{
    width: 60px;
    height: 20px;
    background: rgb(177, 218, 251);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 13px;
    color: black;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

 }

 .btn:focus{
    outline: none;
 
}
.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    margin: auto;
    color: rgb(240, 240, 240);
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.content h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 40%;
    letter-spacing: 2px;
}

.content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    line-height: 30px;
}

.books{ 
    margin-top: 60px;
    text-align: centre;
}

.book-container{
    dsiplay: grid;
    grid-template-columns: Rrepeat(4, 1fr);
    gap: 30px;
    padding: 40px;

}

.book-card{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0,1);
    transition: 0.3s;
}
.book-card:hover{
    transform: scale(1.05);
}
.book-card img{
    width:100%;
    border-radius: 8px;
}
.book img{
    width: 60px;
}
.container{
    width: 900px;
    margin: auto;
}
nav a{
    font-size: 18px;
    margin-right: 25px;
}
p{
    font-size: 14px;
    max-width:700px;
    margin-bottom: 20px;
}
.book-item{
    margin-top: 40px;
}
.book-item{
    width: 150px;
    display: inline-block;
    margin: 15px;
}
img{
    width: 100px;
    height: auto;
}
.book-list{
    display:flex;
    gap: 30px;
}
.books{
    text-align: center;
    margin-top: 0px;
}
.book-list{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.book-list img{
    width: 150px;

}
body{
    margin: 0;
}
@media (max-width: 768px) {

nav ul {
flex-direction: column;
text-align: center;
}

.books {
display: grid;
grid-template-columns: 1fr 1fe;
gap: 20px;
}

.search{
float: none;
margin-left: 0;
text-align: center;
}
body{
background-size: cover;
background-position: center;
}
}